<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get Customer List</title>
</head>
<body>
<h1 align="center"> <b> <i> <big> The Menu is </big></i></b></h1>
<br>

<table align="center" border="1" cellpadding="10">

    <thead>
    <tr>
        <th><h2><b>Customer Name</b></h2></th>


    </tr>
    </thead>
    <tbody>



    <tr th:each="customer: ${customerList}" align="center">

        <td><h3 th:text ="${customer[0]}"></h3></td>

    </tr>
    </tbody>
</table>

<div style="text-align:center">
    <a th:href="@{/}" ><h2><button>Go to Home</button></h2></a>
</div>


</body>
</html>