<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders To Be Served</title>
</head>
<body>
<h1 align="center"><i><b>The orders to be served are as follows
</b></i></h1>

<br>
<tr th:each="order : ${orders}">
<h2 align="center"><td th:text ="${order[0]}"></td> has ordered
<td th:text="${order[1]}"></td>
</h2>
    <br>
</tr>


<div style="text-align:center">
    <a th:href="@{/}" ><h2><button>Go to Home</button></h2></a>


</body>
</html>